Fizbin.Kinect.Gestures/bin
Fizbin.Kinect.Gestures/obj
Kinect.UI.Controller/Kinect.UI/Kinect.UI/bin
Kinect.UI.Controller/Kinect.UI/Kinect.UI/obj
KinectCursor/KinectCursor/bin
KinectCursor/KinectCursor/obj
Simmons_UI/Kinect.UI.Controller/Kinect.UI/Kinect.UI/bin
Simmons_UI/Kinect.UI.Controller/Kinect.UI/Kinect.UI/obj